<h3>All Guests</h3>
<table>
<% @users.each do |user| %>
	<tr>
		<td><%= user.first %></td>
		<td><%= user.last %></td>
		<td><%= user.email %></td>
		<td><%= user.screenname %></td>
		<td><%= user.password %></td>
		<td><%= user.social_security %></td>
	</tr>
<% end %>
</table>
<a href="/">Back to Home</a>